invoices/invoices.json
{
  "name": "auto_invoice",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoices-upload",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "6b4c0527-b915-4dbb-aea8-a7da8e5469a2",
      "name": "Webhook Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        16880,
        13024
      ],
      "webhookId": "invoices-upload-webhook"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\nconst bin = item?.binary || $binary || {};\nconst keys = Object.keys(bin);\n\nif (!keys.length) {\n  const jsonKeys = Object.keys(item?.json || {});\n  throw new Error(`No se recibió archivo binario. Keys json recibidas: ${jsonKeys.join(', ') || '(ninguna)'}. Envía multipart/form-data con un archivo.`);\n}\n\nconst preferred = ['file', 'invoice', 'data'];\nconst fileKey = preferred.find((k) => keys.includes(k)) || keys[0];\nconst b = bin[fileKey];\nconst mimeType = String(b?.mimeType || '').toLowerCase();\n\nif (!mimeType.startsWith('image/')) {\n  throw new Error(`Archivo no válido (${mimeType || 'sin mimeType'}). Solo se permiten imágenes.`);\n}\n\nconst itemIndex = typeof $input.itemIndex === 'number' ? $input.itemIndex : 0;\nconst buffer = await this.helpers.getBinaryDataBuffer(itemIndex, fileKey);\nconst base64 = buffer.toString('base64');\n\nconst now = new Date();\nconst timestamp = now.toISOString().replace(/[.:]/g, '-');\n\nreturn [{\n  json: {\n    sourceBinaryKey: fileKey,\n    fileName: b.fileName || `factura-${timestamp}.${b.fileExtension || 'jpg'}`,\n    mimeType: mimeType || 'image/jpeg',\n    imageBase64: base64,\n    imageDataUrl: 'data:' + (mimeType || 'image/jpeg') + ';base64,' + base64\n  },\n  binary: {\n    invoiceImage: b,\n    data: b\n  }\n}];"
      },
      "id": "fe60d199-5166-435a-860a-5f4f7259fe55",
      "name": "Validar y Preparar Imagen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        17120,
        13024
      ]
    },
    {
      "parameters": {
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $env.GFOLTER_DRIVE_URL.split('folders/')[1].split('?')[0] }}",
          "mode": "list",
          "cachedResultName": "invoices",
          "cachedResultUrl": "={{ $env.GFOLTER_DRIVE_URL }}"
        },
        "options": {}
      },
      "id": "6c2ecfff-f089-4d11-8efc-c4297c75f4b0",
      "name": "Guardar en Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        17504,
        12896
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "34bDEmgvbs4yxgOM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "54945680-bff4-4b8c-a680-eeb3cd7047e9",
      "name": "Esperar Drive y OCR",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        17840,
        13008
      ]
    },
    {
      "parameters": {
        "jsCode": "const mergedData = $('Esperar Drive y OCR').first().json;\n\nlet parsed = {};\n\nif (mergedData.candidates && mergedData.candidates.length > 0) {\n  let rawText = mergedData.candidates[0].content.parts[0].text || '{}';\n  if (typeof rawText === 'string') {\n    rawText = rawText.replace(/^\\s*```(json)?/im, '').replace(/\\s*```\\s*$/im, '').trim();\n  }\n  try {\n    parsed = JSON.parse(rawText || '{}');\n  } catch (e) {\n    throw new Error('El modelo no devolvió un JSON válido. Respuesta: ' + rawText);\n  }\n} else {\n  throw new Error('No se encontraron datos en la respuesta de la IA.');\n}\n\nconst rows = [];\n\n// Función para limpiar nulos\nconst safeStr = (v) => v !== undefined && v !== null ? String(v) : '';\n\n// 1. Procesar Encabezado Dinámico\nif (Array.isArray(parsed.encabezado)) {\n    for (let i = 0; i < parsed.encabezado.length; i += 2) {\n        const item1 = parsed.encabezado[i];\n        const item2 = i + 1 < parsed.encabezado.length ? parsed.encabezado[i + 1] : null;\n        \n        // Fila de Campos\n        rows.push({\n            \" \": item1.campo ? safeStr(item1.campo).toUpperCase() : \"\",\n            \"  \": \"\",\n            \"   \": item2 && item2.campo ? safeStr(item2.campo).toUpperCase() : \"\",\n            \"    \": \"\"\n        });\n        \n        // Fila de Valores\n        rows.push({\n            \" \": item1.valor ? safeStr(item1.valor) : \"\",\n            \"  \": \"\",\n            \"   \": item2 && item2.valor ? safeStr(item2.valor) : \"\",\n            \"    \": \"\"\n        });\n        \n        // Espaciador\n        rows.push({ \" \": \"\", \"  \": \"\", \"   \": \"\", \"    \": \"\" });\n    }\n} else {\n    // Fallback space\n    rows.push({ \" \": \"\", \"  \": \"\", \"   \": \"\", \"    \": \"\" });\n}\n\n// 2. Procesar Columnas Dinámicas de la Tabla\nif (Array.isArray(parsed.columnas_tabla)) {\n    const colA = safeStr(parsed.columnas_tabla[0]);\n    const colB = safeStr(parsed.columnas_tabla[1]);\n    const colC = safeStr(parsed.columnas_tabla[2]);\n    const colD = safeStr(parsed.columnas_tabla[3]);\n    \n    // Títulos de tabla\n    rows.push({ \" \": colA, \"  \": colB, \"   \": colC, \"    \": colD });\n    \n    // 3. Procesar Filas de la Tabla\n    if (Array.isArray(parsed.tabla_items)) {\n        parsed.tabla_items.forEach(itemArray => {\n            if (Array.isArray(itemArray)) {\n                rows.push({\n                    \" \": safeStr(itemArray[0]),\n                    \"  \": safeStr(itemArray[1]),\n                    \"   \": safeStr(itemArray[2]),\n                    \"    \": safeStr(itemArray[3])\n                });\n            }\n        });\n    }\n}\n\nrows.push({ \" \": \"\", \"  \": \"\", \"   \": \"\", \"    \": \"\" });\n\n// 4. Procesar Totales Dinámicos\nif (Array.isArray(parsed.totales)) {\n    parsed.totales.forEach(totalItem => {\n        rows.push({\n            \" \": \"\",\n            \"  \": \"\",\n            \"   \": safeStr(totalItem.campo).toUpperCase(),\n            \"    \": safeStr(totalItem.valor)\n        });\n    });\n}\n\nreturn rows.map(r => ({ json: r }));"
      },
      "id": "65937c4e-03f7-48d1-8fc5-3ee3fa83598f",
      "name": "Normalizar Factura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        18224,
        13008
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GSHEETS_DOCUMENT_ID }}",
          "mode": "list",
          "cachedResultName": "={{ $env.GSHEETS_DOCUMENT_NAME }}",
          "cachedResultUrl": "=https://docs.google.com/spreadsheets/d/{{ $env.GSHEETS_DOCUMENT_ID }}/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Esperar Drive y OCR').first().json.name ? $('Esperar Drive y OCR').first().json.name.replace(/[^a-zA-Z0-9 _-]/g, '').substring(0, 50) : 'Factura-' + Date.now() }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            " ": "={{ $json[' '] || '' }}",
            "  ": "={{ $json['  '] || '' }}",
            "   ": "={{ $json['   '] || '' }}",
            "    ": "={{ $json['    '] || '' }}"
          },
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "050714e7-33a0-4835-b73e-9c5dd4e41d85",
      "name": "Subir a Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        18432,
        13008
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CL0tSLHESUGrs5sx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-goog-api-key",
              "value": "={{$env.G_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [ { parts: [ { text: \"Analiza esta factura y extrae TODA su información de forma 100% dinámica, adaptándote a su formato exacto. Devuelve SOLO un objeto JSON válido con 4 claves: 1) 'encabezado': array de objetos con 'campo' y 'valor' para todos los datos generales que encuentres (Ej: Número de factura, Fecha, Emisor, Cliente, Direcciones completas, NIF, Vencimiento, Pedido, etc.). 2) 'columnas_tabla': array de strings con los títulos exactos de las columnas de los productos (máximo 4 columnas principales). 3) 'tabla_items': array de arrays de strings, donde cada sub-array representa una fila de la tabla siguiendo estrictamente el orden de 'columnas_tabla'. 4) 'totales': array de objetos con 'campo' y 'valor' correspondientes a la sección de pagos y totales (Subtotal, Descuentos, IVA, Total, Método de pago, etc). No uses Markdown ni bloques de código.\" }, { inline_data: { mime_type: $json.mimeType, data: $json.imageBase64 } } ] } ], generationConfig: { response_mime_type: 'application/json' } } }}",
        "options": {}
      },
      "id": "8de26906-a22f-4033-aadb-ef96c3569f14",
      "name": "Gemini API OCR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        17504,
        13120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{$env.GSHEETS_DOCUMENT_ID}}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"addSheet\": {\n        \"properties\": {\n          \"title\": \"{{ $json.name ? $json.name.replace(/[^a-zA-Z0-9 _-]/g, '').substring(0, 50) : 'Factura-' + Date.now() }}\"\n        }\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "24527994-5fdb-4de0-935a-65492eebca31",
      "name": "Crear Pestaña Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        18048,
        13008
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CL0tSLHESUGrs5sx",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Upload": {
      "main": [
        [
          {
            "node": "Validar y Preparar Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar y Preparar Imagen": {
      "main": [
        [
          {
            "node": "Guardar en Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gemini API OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Google Drive": {
      "main": [
        [
          {
            "node": "Esperar Drive y OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar Drive y OCR": {
      "main": [
        [
          {
            "node": "Crear Pestaña Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Factura": {
      "main": [
        [
          {
            "node": "Subir a Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API OCR": {
      "main": [
        [
          {
            "node": "Esperar Drive y OCR",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Crear Pestaña Sheets": {
      "main": [
        [
          {
            "node": "Normalizar Factura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "39b04ccd-8570-4773-84ee-8225b3893c05",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "033f7de2cc48bfbbcb5a787f9b1d48317dec27b65ef2ae078862dccfb5ce9ebc"
  },
  "id": "6ff4JbhBIpjrchH6",
  "tags": []
}