invoices/invoices.json
{
  "name": "invoices",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "04d51692-fd40-41ac-9f19-2904f2433281",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2320,
        192
      ],
      "webhookId": "c8a2d154-8f5e-416a-ab3d-36ee5dc30f64",
      "credentials": {
        "telegramApi": {
          "id": "W6ng0IMChvUVvQ5X",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-photo",
              "leftValue": "={{ Array.isArray($json.message?.photo) && $json.message.photo.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "891e87fe-6e56-4625-ab13-d32abb9f9884",
      "name": "Validador Foto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2112,
        192
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Envíame una foto de la factura para procesarla.",
        "additionalFields": {}
      },
      "id": "31a2e3cf-49b1-4a0f-84c6-f6e0ee32e076",
      "name": "Responder Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1872,
        352
      ],
      "webhookId": "f42637b9-94b2-4baa-9c5a-a798549048a6",
      "credentials": {
        "telegramApi": {
          "id": "W6ng0IMChvUVvQ5X",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{$vars.TELEGRAM_BOT_TOKEN}}/getFile",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file_id",
              "value": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "39c3a4b6-04df-429b-b974-e660f40075f6",
      "name": "Obtener FilePath Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1872,
        112
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{$vars.TELEGRAM_BOT_TOKEN}}/{{$json.result.file_path}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "invoiceImage"
            }
          }
        }
      },
      "id": "918e96c4-e758-4e38-b645-04421c603a49",
      "name": "Descargar Imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1632,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const b = $binary.invoiceImage;\nif (!b?.data) throw new Error('No se encontró binary.invoiceImage.data');\n\nconst now = new Date();\nconst timestamp = now.toISOString().replace(/[.:]/g, '-');\n\nreturn [{\n  json: {\n    fileName: `factura-${timestamp}.${b.fileExtension || 'jpg'}`,\n    mimeType: b.mimeType || 'image/jpeg',\n    telegramFileId: $('Telegram Trigger').item.json.message.photo.slice(-1)[0].file_id,\n    chatId: $('Telegram Trigger').item.json.message.chat.id,\n    messageId: $('Telegram Trigger').item.json.message.message_id,\n    imageBase64: b.data\n  },\n  binary: {\n    invoiceImage: b\n  }\n}];"
      },
      "id": "2fe27415-6a57-45b9-92a3-85788a1857ed",
      "name": "Preparar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        112
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "binaryData": true,
        "binaryPropertyName": "invoiceImage",
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "id": "af568dc8-e6d5-499f-bab9-8ebc8c120078",
      "name": "Guardar en Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1168,
        -48
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Z0qnB67hRIOi0jSa",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.GROQ_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  model: 'meta-llama/llama-4-scout-17b-16e-instruct',\n  temperature: 0.1,\n  response_format: {\n    type: 'json_object'\n  },\n  messages: [\n    {\n      role: 'system',\n      content: 'Eres un OCR modular para facturas. Extrae campos con alta precisión y devuelve SOLO JSON válido.'\n    },\n    {\n      role: 'user',\n      content: [\n        {\n          type: 'text',\n          text: 'Analiza esta factura y devuelve JSON con: proveedor, nif_proveedor, numero_factura, fecha_emision (YYYY-MM-DD), moneda, subtotal, impuestos, total, items[{descripcion,cantidad,precio_unitario,total}], metodo_pago, confianza_global (0-1), observaciones.'\n        },\n        {\n          type: 'image_url',\n          image_url: {\n            url: `data:${$json.mimeType};base64,${$json.imageBase64}`\n          }\n        }\n      ]\n    }\n  ]\n} }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "2ecd0c0b-e691-49e9-9427-156e459536fa",
      "name": "OCR Modular (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1168,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const responseText = $json.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(responseText);\n} catch (e) {\n  throw new Error(`Groq no devolvió JSON parseable: ${responseText}`);\n}\n\nconst drive = $('Guardar en Google Drive').item.json;\n\nreturn [{\n  json: {\n    source: 'telegram',\n    processedAt: new Date().toISOString(),\n    chatId: $('Preparar Datos').item.json.chatId,\n    messageId: $('Preparar Datos').item.json.messageId,\n    telegramFileId: $('Preparar Datos').item.json.telegramFileId,\n    driveFileId: drive.id || null,\n    driveFileName: drive.name || $('Preparar Datos').item.json.fileName,\n    invoice: parsed\n  }\n}];"
      },
      "id": "a868ca52-5cfc-457a-90b1-b63885473a22",
      "name": "Normalizar Factura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        208
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1MDYegtp-KuQf9eYR5GQT-W_uAxEsuerLYZcBmAULd88"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Invoices_n8n"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processedAt": "={{ $json.processedAt }}",
            "proveedor": "={{ $json.invoice.proveedor || \"\" }}",
            "numero_factura": "={{ $json.invoice.numero_factura || \"\" }}",
            "fecha_emision": "={{ $json.invoice.fecha_emision || \"\" }}",
            "moneda": "={{ $json.invoice.moneda || \"\" }}",
            "subtotal": "={{ $json.invoice.subtotal || \"\" }}",
            "impuestos": "={{ $json.invoice.impuestos || \"\" }}",
            "total": "={{ $json.invoice.total || \"\" }}",
            "metodo_pago": "={{ $json.invoice.metodo_pago || \"\" }}",
            "confianza_global": "={{ $json.invoice.confianza_global || \"\" }}",
            "driveFileId": "={{ $json.driveFileId || \"\" }}",
            "driveFileName": "={{ $json.driveFileName || \"\" }}",
            "invoice_json": "={{ JSON.stringify($json.invoice) }}"
          }
        },
        "options": {}
      },
      "id": "ca0fddb6-a0b6-4dcb-8148-a3199521e41f",
      "name": "Subir a Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -672,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "D49knCy5WUppiTJl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://firestore.googleapis.com/v1/projects/{{$vars.GCP_PROJECT_ID}}/databases/(default)/documents/postgres?documentId={{$json.invoice.numero_factura || $json.messageId}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.GCP_FIRESTORE_BEARER_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  fields: {\n    source: { stringValue: $json.source },\n    processedAt: { stringValue: $json.processedAt },\n    chatId: { stringValue: String($json.chatId) },\n    messageId: { stringValue: String($json.messageId) },\n    telegramFileId: { stringValue: String($json.telegramFileId) },\n    driveFileId: { stringValue: String($json.driveFileId || '') },\n    driveFileName: { stringValue: String($json.driveFileName || '') },\n    invoiceJson: { stringValue: JSON.stringify($json.invoice) }\n  }\n} }}",
        "options": {}
      },
      "id": "c77e34ce-3328-479d-8420-781afdc71188",
      "name": "Subir a Postgres (Firestore)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Preparar Datos').item.json.chatId }}",
        "text": "Factura procesada correctamente. Datos enviados a Google Sheets y Firestore.",
        "additionalFields": {}
      },
      "id": "e3f13608-5667-41dd-89d2-0078e547e9fd",
      "name": "Confirmar en Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -272,
        208
      ],
      "webhookId": "d8f7299d-c211-4649-b2cf-f276840c10a2",
      "credentials": {
        "telegramApi": {
          "id": "W6ng0IMChvUVvQ5X",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a7434328-9585-4f35-bc00-d084e83d164d",
      "name": "Esperar Ambos Envíos",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -480,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Validador Foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validador Foto": {
      "main": [
        [
          {
            "node": "Obtener FilePath Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener FilePath Telegram": {
      "main": [
        [
          {
            "node": "Descargar Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Imagen": {
      "main": [
        [
          {
            "node": "Preparar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos": {
      "main": [
        [
          {
            "node": "Guardar en Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "OCR Modular (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Modular (Groq)": {
      "main": [
        [
          {
            "node": "Normalizar Factura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Factura": {
      "main": [
        [
          {
            "node": "Subir a Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Subir a Postgres (Firestore)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir a Postgres (Firestore)": {
      "main": [
        [
          {
            "node": "Esperar Ambos Envíos",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Esperar Ambos Envíos": {
      "main": [
        [
          {
            "node": "Confirmar en Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir a Google Sheets": {
      "main": [
        [
          {
            "node": "Esperar Ambos Envíos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83e07695-080c-4d31-8d18-cbb0e7ff1805",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ca4446f94a30c6d7cea9e6b62625628731e1dd18b5b7e7968f7153ed571484e"
  },
  "id": "4HOwIFVopAj14bTn",
  "tags": []
}